.container{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: row;
}
.inputBox {
    width: 40rem;
    height: 2rem;
    margin-right: 10px;
}
.btn{
    width: 3rem;
    height: 2rem;
}
.innerContainer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}