.mainBody {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 25px;

    background-color: red;

    gap: 10px;
    width: 30%;
}